@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Quicksand:wght@400;700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Quicksand', sans-serif;
    margin: 0;
    padding: 0;
    text-align: justify;
}

main {
    padding: 20px;
    overflow: auto;
}

.frontPage {
    width: 100%;
}

#content {
    float: left;
    width: 75%;
}

.jumbotron {
    padding: 60px;
    background-color: #00c8eb;
    text-align: center;
    font-size: 20px;
    color: white;
}
nav {
    position: absolute;
    background-color: #250a1100;
    top: 0;
    text-align: right;
    height:64px;
    width: 100%;
}

nav li {
    display: inline;
    list-style-type: none;
    margin: 0;
}

nav a {
    font-size: 16px;
    font-weight: 400;
    text-decoration: none;
    color: white;
    display: block;
    padding: 25px;
    text-transform: uppercase;
    border: 1px solid silver;
}

nav a:hover {
    font-weight: bold;
}

h2, h3 {
   color: #22070e;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    padding: 20px;
    margin-top: 20px;
}

.profile img {
    width: 200px;
}

.profile header {
    text-align: center;
}

aside {
    float: right;
    width: 25%;
    padding-left: 20px;
}


footer {
    padding: 20px;
    color: white;
    background-color: #22070e;
    text-align: center;
    font-weight: bold;
}

.nav {
    height: 100vh;
    width: 300px;
    list-style: none;
    background-color: #22070e;
    position: fixed;
    left: -300px;
    transition: 0.5s;
}

.openNav {
    left: 0;
}

.logo {
    float:left;
}

.navbar {
    right: 0;
    padding:10px;
    position: fixed;
}
.navbar button {
    background-color: #00000000;
    border: 0;
}

.navbar img {
    width: 40px;
}

.logo img{
    border-radius: 40px;
    width: 40px;
}

.frontPage img {
    width: 100%;
    object-fit: cover;
    min-height: 400px;
}

.head2 {
    text-align: center;
    font-size: 1.5em;
}

.desProj {
    display: flex;
    width: 1000px;
    background-color: #11C5C600;
    align-items: center;
    flex-direction: row;
    margin: 0 auto;
}

.myBook {
    display: flex;
    width: 100%;
    background-color: #22070e;
    align-items: center;
    flex-direction: row;
    margin: 0 auto;
}

.conDesc {
    flex-basis: 50%;
    background-color: #FBDD1C00;
    width: 100%;
    padding: 30px 10px 30px 10px;
    font-size: 1.2em;
}

.conBook {
    flex-basis: 50%;
}

.teks p {
    text-align: justify;
}

.soon p {
    font-family: "Dancing Script";
    font-size: 2em;
    color: #ffffff;
    padding-left: 20px;
}

.book img {
    width: 30%;
    object-fit: scale-down;
    min-height: 300px;
    float: right;
    padding-right: 20px;
}

.sss img {
    width: 100%;
    object-fit: scale-down;
    min-height: 300px;
    float: right;
}



.blackBox {
    width: 100%;
    background-color: #22070e;
    margin-top: 70px;
    padding: 70px 70px;
}

blockquote {
    text-align: center;
    color: #ffffff;
    font-size: 1.5em;
}

blockquote::before,
blockquote::after {
   content: '"';
   font-size: 1.7em;
   font-style: italic;
   font-weight: bold;
   color: #ffffff;
}

.blackBox h4 {
    text-align: center;
    font-family: 'Dancing Script', sans-serif;
    color: #ffffff;
    font-size: 2em;
}

.MyWork {
    margin: 100px 0px;
}

.contPuisi {
    display: flex;
    width: 1000px;
    align-items: center;
    flex-direction: row;
    margin: 0 auto;
}

.puisi {
    flex-basis: auto;
    padding: 20px;
}

.puisi img {
    width: 100%;
}

.puisi p {
    text-align: center;
}

.puisi a {
    color: #22070e;
    text-decoration: none;
    font-size: 1.5em;
}

.puisi a:hover {
    font-weight: bold;
}


@media screen and (max-width: 1300px) {
    #content,
    aside {
      width: 100%;
      padding: 0;
    }

    .desProj {
        flex-direction: column; 
        margin: 0 0;
        height: auto;
        width: 100%;
        padding: 0px;
        align-items: center;
    }

    .myBook {
        flex-direction: column; 
        margin: 0 0;
        height: auto;
        width: 100%;
        padding: 0px;
        align-items: center;
    }

    .conBook {
        flex-basis: 50%;
    }
    
    .soon p {
        font-family: "Dancing Script";
        font-size: 2em;
        color: #ffffff;
        padding: 0px;
    }
    
    .book img {
        width: 60%;
        object-fit: fill;
        min-height: 300px;
        float: none;
        object-fit: contain;
        display: block;
        margin: 0 auto;
        padding: 0px;
    }

    .contPuisi {
        flex-direction: column; 
        margin: 0 0;
        height: auto;
        width: 100%;
        padding: 0px;
        align-items: center;
    }

    .teks {
        margin: 0 0;
        padding: 0;
        top: 0;
    }

    .teks p {
        flex-basis: 50%;
        text-align: center;
        width: 100%;
    }

    .sss {
        margin: 0 0;
        padding: 0;
    }
    
    .sss img {
        float: none;
        width: 65%;
        min-height: 300px;
        object-fit: contain;
        display: block;
        margin: 0 auto;
    }
}


@media screen and (max-width: 600px) {
    .blackBox {
        margin-top: 70px;
        padding: 70px 2%;
    }
    
    blockquote {
        text-align: center;
        color: #ffffff;
        font-size: 1.5em;
    }
    
    blockquote::before,
    blockquote::after {
       content: '"';
       font-size: 1.7em;
       font-style: italic;
       font-weight: bold;
       color: #ffffff;
    }
    
    .blackBox h4 {
        text-align: center;
        font-family: 'Dancing Script', sans-serif;
        color: #ffffff;
        font-size: 2em;
    }
}

pre{
    display: block;
    font-family: "Quicksand";
    margin: 1em 0;
    overflow-x: auto;
}